<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<bean id="BGAA" class="fiuba.tecnicas.modelo.general.Producto">
<property name="codigo_producto" value="0000" />
<property name="categorias" value="BEBIDAS" />
<property name="precio" value="15.0" />
<property name="marca" value="Coca Cola" />
<property name="descripcion" value="Gaseosa Coca Cola" />
</bean>
	
<bean id="BVAA" class="fiuba.tecnicas.modelo.general.Producto">
<property name="codigo_producto" value="0001" />
<property name="categorias" value="BEBIDAS" />
<property name="precio" value="35.0" />
<property name="marca" value="Callia" />
<property name="descripcion" value="Vino Tinto Callia" />
</bean>

<bean id="BFAA" class="fiuba.tecnicas.modelo.general.Producto">
<property name="codigo_producto" value="0002" />
<property name="categorias" value="FARMACIA" />
<property name="precio" value="5.0" />
<property name="marca" value="Dove" />
<property name="descripcion" value="Jabon" />
</bean>

<bean id="COCA" class="fiuba.tecnicas.modelo.general.Producto">
	<property name="codigo_producto" value="00100" />
	<property name="categorias" value="BEBIDAS" />
	<property name="precio" value="1" />
	<property name="marca" value="Coca Cola" />
	<property name="descripcion" value="Coca" />
</bean>

<bean id="SPRITE" class="fiuba.tecnicas.modelo.general.Producto">
	<property name="codigo_producto" value="00101" />
	<property name="categorias" value="BEBIDAS" />
	<property name="precio" value="1" />
	<property name="marca" value="Sprite" />
	<property name="descripcion" value="Sprite " />
</bean>

<bean id="X" class="fiuba.tecnicas.modelo.general.Producto">
	<property name="codigo_producto" value="00015" />
	<property name="categorias" value="VINOTECA" />
	<property name="precio" value="100" />
	<property name="marca" value="X" />
	<property name="descripcion" value="X" />
</bean>

<bean id="CHANDON" class="fiuba.tecnicas.modelo.general.Producto">
	<property name="codigo_producto" value="00030" />
	<property name="categorias" value="VINOTECA" />
	<property name="precio" value="75" />
	<property name="marca" value="Chandon" />
	<property name="descripcion" value="Chandon" />
</bean>

<bean id="CEPILLODIENTES" class="fiuba.tecnicas.modelo.general.Producto">
	<property name="codigo_producto" value="00040" />
	<property name="categorias" value="FARMACIA" />
	<property name="precio" value="3" />
	<property name="marca" value="Colgate" />
	<property name="descripcion" value="Cepillo Dientes" />
</bean>

<bean id="LAMPARITA" class="fiuba.tecnicas.modelo.general.Producto">
	<property name="codigo_producto" value="00060" />
	<property name="categorias" value="ELECTRICIDAD" />
	<property name="precio" value="15" />
	<property name="marca" value="Lamp" />
	<property name="descripcion" value="Lamparita" />
</bean>

<bean id="MACETA" class="fiuba.tecnicas.modelo.general.Producto">
	<property name="codigo_producto" value="00050" />
	<property name="categorias" value="JARDINERIA" />
	<property name="precio" value="10" />
	<property name="marca" value="Maceta" />
	<property name="descripcion" value="Maceta" />
</bean>

<bean id="VINOELL" class="fiuba.tecnicas.modelo.general.Producto">
	<property name="codigo_producto" value="0002" />
	<property name="categorias" value="VINOTECA" />
	<property name="precio" value="10" />
	<property name="marca" value="ELL" />
	<property name="descripcion" value="Vino ELL" />
</bean>

<bean id="VINOXYZ" class="fiuba.tecnicas.modelo.general.Producto">
	<property name="codigo_producto" value="0005" />
	<property name="categorias" value="VINOTECA" />
	<property name="precio" value="20" />
	<property name="marca" value="XYZ" />
	<property name="descripcion" value="Vino XYZ" />
</bean>

<bean id="VINOLLL" class="fiuba.tecnicas.modelo.general.Producto">
	<property name="codigo_producto" value="0006" />
	<property name="categorias" value="VINOTECA" />
	<property name="precio" value="30" />
	<property name="marca" value="LLL" />
	<property name="descripcion" value="Vino LLL" />
</bean>
</beans>