<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<bean id="abrircajacommand"
	class="fiuba.tecnicas.modelo.general.command.AbrirCajaCommand" />
	
<bean id="nullcommand"
	class="fiuba.tecnicas.modelo.general.command.NullCommand" />

<bean id ="agregarproductoscommand"
	class="fiuba.tecnicas.modelo.general.command.AgregarProductosCommand" />
	
<bean id ="helpcommand"
	class="fiuba.tecnicas.modelo.general.command.HelpCommand" />

</beans>