<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:util="http://www.springframework.org/schema/util"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

<bean id="DiezPorcientoStrategy" class="fiuba.tecnicas.modelo.concreto.XporcientoStrategy">
		<property name="porcentaje" value="10"></property>
</bean>

<bean id="DosPorUnoStrategy" class="fiuba.tecnicas.modelo.concreto.NxMStrategy">
		<property name="n" value="3"></property>
		<property name="m" value="2"></property>
</bean>

<bean id="SegundaUnidad75PorcientoStrategy" class="fiuba.tecnicas.modelo.concreto.SegundaUnidadXPorcientoStrategy">
	<property name="porcentaje" value="75"></property>
</bean>

<bean id="Oferta10porcientoFarmacia"
	class="fiuba.tecnicas.modelo.general.Oferta" >
	<property name="strategy"><ref bean="DiezPorcientoStrategy"/></property>
	<property name="caracteristicas">
		<util:list id="Oferta10porcientoFarmaciaCaracteristicas" list-class="java.util.ArrayList" 
			value-type="fiuba.tecnicas.modelo.general.Caracteristica">
			<bean class="fiuba.tecnicas.modelo.general.Caracteristica" >
				<property name="tipoCaracteristica" value="CATEGORIA_DESCRIPCION" />
				<property name="valor" value="FARMACIA" />
				<property name="objetoAlQueAplico" value="ITEM" />
				<property name="valorSiExisteLaCaracteristica" value="0"></property>
			</bean>
		</util:list>
	</property>
	<property name="nombre" value="10% farmacia" />
</bean>

<bean id="Oferta2x1" class="fiuba.tecnicas.modelo.general.Oferta" >
	<property name="strategy"><ref bean="DosPorUnoStrategy"/></property>
	<property name="caracteristicas">
		<util:list list-class="java.util.ArrayList" id="Oferta2x1Caracteristicas" 
			value-type="fiuba.tecnicas.modelo.general.Caracteristica">
			<bean class="fiuba.tecnicas.modelo.general.Caracteristica" >
				<property name="tipoCaracteristica" value="PRODUCTO_DESCRIPCION" />
				<property name="valor" value="COCA" />
				<property name="objetoAlQueAplico" value="ITEM" />
				<property name="valorSiExisteLaCaracteristica" value="0"></property>
			</bean>
		</util:list>
	</property>
	<property name="nombre" value="2x1" />
</bean>

<bean id="Oferta10porcientoTarjeta"
	class="fiuba.tecnicas.modelo.general.Oferta" >
	<property name="strategy"><ref bean="DiezPorcientoStrategy"/></property>
	<property name="caracteristicas">
		<util:list list-class="java.util.ArrayList" id="Oferta10porcientoTarjetaCaracteristicas" 
			value-type="fiuba.tecnicas.modelo.general.Caracteristica">
			<bean class="fiuba.tecnicas.modelo.general.Caracteristica" >
				<property name="tipoCaracteristica" value="MEDIODEPAGO_DESCRIPCION" />
				<property name="valor" value="TARJETA" />
				<property name="objetoAlQueAplico" value="COMPRA" />
				<property name="valorSiExisteLaCaracteristica" value="0"></property>
			</bean>
		</util:list>
	</property>
	<property name="nombre" value="10% tarjeta" />
</bean>

<bean id="Oferta10porcientoJubilado"
	class="fiuba.tecnicas.modelo.general.Oferta" >
	<property name="strategy"><ref bean="DiezPorcientoStrategy"/></property>
	<property name="caracteristicas">
		<util:list list-class="java.util.ArrayList" id="Oferta10porcientoJubiladoCaracteristicas" 
			value-type="fiuba.tecnicas.modelo.general.Caracteristica">
			<bean class="fiuba.tecnicas.modelo.general.Caracteristica" >
				<property name="tipoCaracteristica" value="IS_JUBILADO" />
				<property name="valor" value="TRUE" />
				<property name="objetoAlQueAplico" value="COMPRA" />
				<property name="valorSiExisteLaCaracteristica" value="0"></property>
			</bean>
		</util:list>
	</property>
	<property name="nombre" value="10% Jubilado" />
</bean>

<bean id="Oferta10porcientoTarjetaJueves"
	class="fiuba.tecnicas.modelo.general.Oferta" >
	<property name="strategy"><ref bean="DiezPorcientoStrategy"/></property>
	<property name="caracteristicas">
		<util:list list-class="java.util.ArrayList" id="Oferta10porcientoTarjetaJuevesCaracteristicas" 
			value-type="fiuba.tecnicas.modelo.general.Caracteristica">
			<bean class="fiuba.tecnicas.modelo.general.Caracteristica" >
				<property name="tipoCaracteristica" value="MEDIODEPAGO_DESCRIPCION" />
				<property name="valor" value="TARJETA" />
				<property name="objetoAlQueAplico" value="COMPRA" />
				<property name="valorSiExisteLaCaracteristica" value="0"></property>
			</bean>
			<bean class="fiuba.tecnicas.modelo.general.Caracteristica" >
				<property name="tipoCaracteristica" value="COMPRA_DIA" />
				<property name="valor" value="DOMINGO" />
				<property name="objetoAlQueAplico" value="COMPRA" />
				<property name="valorSiExisteLaCaracteristica" value="0"></property>
			</bean>
		</util:list>
	</property>
	<property name="nombre" value="Tarjeta Jueves" />
</bean>

<bean id="OfertaSegundaUnidad75NoChandon"
	class="fiuba.tecnicas.modelo.general.Oferta" >
	<property name="strategy"><ref bean="SegundaUnidad75PorcientoStrategy"/></property>
	<property name="caracteristicas">
		<util:list list-class="java.util.ArrayList" id="OfertaSegundaUnidad75NoChandonCaracteristicas" 
			value-type="fiuba.tecnicas.modelo.general.Caracteristica">
			<bean class="fiuba.tecnicas.modelo.general.Caracteristica" >
				<property name="tipoCaracteristica" value="CATEGORIA_DESCRIPCION" />
				<property name="valor" value="VINOTECA" />
				<property name="objetoAlQueAplico" value="ITEM" />
				<property name="valorSiExisteLaCaracteristica" value="0"></property>
			</bean>
			<bean class="fiuba.tecnicas.modelo.general.Caracteristica" >
				<property name="tipoCaracteristica" value="PRODUCTO_MARCA" />
				<property name="valor" value="CHANDON" />
				<property name="objetoAlQueAplico" value="ITEM" />
				<property name="valorSiExisteLaCaracteristica" value="-1"></property>
			</bean>
		</util:list>
	</property>
	<property name="nombre" value="75% segunda unidad menos chandon" />
</bean>

<bean id="Oferta10porcientoDebitoLunes"
	class="fiuba.tecnicas.modelo.general.Oferta">
	<property name="strategy"><ref bean="DiezPorcientoStrategy"/></property>
	<property name="caracteristicas">
		<util:list list-class="java.util.ArrayList" id="Oferta10porcientoDebitoLunesCaracteristicas" 
			value-type="fiuba.tecnicas.modelo.general.Caracteristica">
			<bean class="fiuba.tecnicas.modelo.general.Caracteristica" >
				<property name="tipoCaracteristica" value="MEDIODEPAGO_DESCRIPCION" />
				<property name="valor" value="DEBITO" />
				<property name="objetoAlQueAplico" value="COMPRA" />
				<property name="valorSiExisteLaCaracteristica" value="0"></property>
			</bean>
			<bean class="fiuba.tecnicas.modelo.general.Caracteristica" >
				<property name="tipoCaracteristica" value="COMPRA_DIA" />
				<property name="valor" value="DOMINGO" />
				<property name="objetoAlQueAplico" value="COMPRA" />
				<property name="valorSiExisteLaCaracteristica" value="0"></property>
			</bean>
		</util:list>
	</property>
	<property name="nombre" value="10% debito los lunes" />
</bean>

<bean id="Oferta10porcientoVinos"
	class="fiuba.tecnicas.modelo.general.Oferta" >
	<property name="strategy"><ref bean="DiezPorcientoStrategy"/></property>
	<property name="caracteristicas">
		<util:list id="Oferta10porcientoVinosCaracteristicas" list-class="java.util.ArrayList" 
			value-type="fiuba.tecnicas.modelo.general.Caracteristica">
			<bean class="fiuba.tecnicas.modelo.general.Caracteristica" >
				<property name="tipoCaracteristica" value="CATEGORIA_DESCRIPCION" />
				<property name="valor" value="VINOTECA" />
				<property name="objetoAlQueAplico" value="ITEM" />
				<property name="valorSiExisteLaCaracteristica" value="0"></property>
			</bean>
			<bean class="fiuba.tecnicas.modelo.general.Caracteristica" >
				<property name="tipoCaracteristica" value="PRODUCTO_MARCA" />
				<property name="valor" value="XYZ" />
				<property name="objetoAlQueAplico" value="ITEM" />
				<property name="valorSiExisteLaCaracteristica" value="-1"></property>
			</bean>
			<bean class="fiuba.tecnicas.modelo.general.Caracteristica" >
				<property name="tipoCaracteristica" value="PRODUCTO_MARCA" />
				<property name="valor" value="LLL" />
				<property name="objetoAlQueAplico" value="ITEM" />
				<property name="valorSiExisteLaCaracteristica" value="-1"></property>
			</bean>
		</util:list>
	</property>
	<property name="nombre" value="10% en vinos" />
</bean>

<!-- CADENA SUCURSAL UNO -->

	<bean id="unoSucursal"
		class="fiuba.tecnicas.modelo.general.Sucursal" >
		<property name="next"><ref bean="AEslabon_SucursalConCadenaUno"/></property>
	</bean>	
		<bean id="AEslabon_SucursalConCadenaUno" parent="Oferta2x1">
			<property name="next"><ref bean="BEslabon_SucursalConCadenaUno"/></property>
		</bean>
			<bean id="BEslabon_SucursalConCadenaUno" parent="Oferta10porcientoTarjetaJueves" >
			</bean>

<!-- FIN SUCURSAL UNO -->

<!-- CADENA SUCURSAL DOS -->
	<bean id="dosSucursal"
		class="fiuba.tecnicas.modelo.general.Sucursal" >
		<property name="next"><ref bean="AEslabon_SucursalConCadenaDos" /></property>
	</bean>
		 
		<bean id="AEslabon_SucursalConCadenaDos" parent="OfertaSegundaUnidad75NoChandon" >
			<property name="next"><ref bean="BEslabon_SucursalConCadenaDos"/></property> 
		</bean>
		 
			<bean id="BEslabon_SucursalConCadenaDos" parent="Oferta10porcientoDebitoLunes" >
	   		</bean>

<!-- FIN SUCURSAL DOS -->

<!-- CADENA SUCURSAL TRES -->

	<bean id="tresSucursal"
		class="fiuba.tecnicas.modelo.general.Sucursal" >
		<property name="next"><ref bean="AEslabon_SucursalConCadenaTres"/></property>
	</bean>
		<bean id="AEslabon_SucursalConCadenaTres" parent="Oferta10porcientoVinos" >
	  	 </bean>
	
<!-- FIN SUCURSAL TRES -->

<!-- CADENA SUCURSAL CUATRO -->

	<bean id="cuatroSucursal"
		class="fiuba.tecnicas.modelo.general.Sucursal" >
		<property name="next"><ref bean="AEslabon_SucursalConCadenaCuatro"/></property>
	</bean>	
		<bean id="AEslabon_SucursalConCadenaCuatro" parent="Oferta10porcientoJubilado">
			</bean>

<!-- FIN SUCURSAL CUATRO -->

<!-- CADENA SUCURSAL CINCO -->
	<bean id="cincoSucursal"
		class="fiuba.tecnicas.modelo.general.Sucursal" >
		<property name="next"><ref bean="AEslabon_SucursalConCadenaCinco" /></property>
	</bean>
		 
		<bean id="AEslabon_SucursalConCadenaCinco" parent="Oferta10porcientoJubilado" >
			<property name="next"><ref bean="BEslabon_SucursalConCadenaCinco"/></property> 
		</bean>
		 
			<bean id="BEslabon_SucursalConCadenaCinco" parent="Oferta10porcientoDebitoLunes" >
	   		</bean>

<!-- FIN SUCURSAL DOS -->

</beans>